---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { MY_NAME, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />

        <main style={{ textAlign: "center" }}>
            <img
                style={{ borderRadius: "50%" }}
                src="/images/JoeDuncko2019Square.jpg"
                height={144}
                width={144}
                alt={MY_NAME}
            />

            <h1>{MY_NAME}</h1>

            <section>
                <p style={{ textAlign: "center" }}>{SITE_DESCRIPTION}</p>
            </section>
        </main>

        <Footer />
    </body>
</html>
