---
import { communities } from "../pages/api/communities";
import { DataCard } from "./DataCard";
import { ExternalLink } from "./ExternalLink";
---

<DataCard title="Communities">
    <ul>
        {
            communities.map((membership) => (
                <li class="mb-2">
                    <ExternalLink
                        href={membership.link}
                        title={`To ${membership.name}`}
                    >
                        {membership.name}
                    </ExternalLink>{" "}
                    ({membership.position}): {membership.description}
                </li>
            ))
        }
    </ul>
</DataCard>
