---
import { projects } from "../pages/api/projects";
import DataCard from "./DataCard.astro";
import ExternalLink from "./ExternalLink.astro";

interface Project {
    name: string;
    link: string;
    description: string;
}
---

<DataCard title="Select Projects">
    <ul>
        {
            projects.map((project: Project) => (
                <li class="mb-2">
                    {/* Ignored because the comma moves a space over otherwise */}
                    {/* prettier-ignore */}
                    <div>
                        <ExternalLink href={project.link} title={`To ${project.name}`}>
                            <h3 class="inline">{project.name}</h3>
                        </ExternalLink>, {project.description}
                    </div>

                    <div class="hidden print:block">
                        <i>{project.link}</i>
                    </div>
                </li>
            ))
        }
    </ul>
</DataCard>
