---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import markdownStyles from "./markdown-styles.module.css";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<Layout
    title={`${post.data.title} | Joe Duncko's Blog`}
    description={post.data.description}
>
    <div class="max-w-3xl w-full mx-auto">
        <div class="text-4xl mb-4">Joe Duncko's Blog</div>

        <article>
            <div class="mb-2">
                <h1 class="text-5xl">
                    <a
                        href={`/blog/${post.slug}/`}
                        class="hover:underline"
                        style={{ color: "#ff9300" }}
                    >
                        #
                    </a>{" "}
                    {post.data.title}
                </h1>
                <FormattedDate date={post.data.pubDate} />
            </div>
            <div class={markdownStyles["markdown"]}>
                <slot />
            </div>
        </article>
    </div>
</Layout>
